<% if (ctx.session && ctx.session.user) { %>
  <p><%= ctx.session.user.id %> // <%= ctx.session.user.email %></p>
  <a href="/logout">Logout</a>
<% } else { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } %>
<hr>